<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <Fragment>
    <!-- Custom Language Selection Dialog -->
    <UI>
      <Dialog Id="LanguageSelectionDlg" Width="370" Height="270" Title="!(loc.PB_LanguageSelectionTitle)">
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.PB_LanguageSelectionTitle)" />
        <Control Id="Description" Type="Text" X="25" Y="23" Width="280" Height="15" Transparent="yes" NoPrefix="yes" Text="!(loc.PB_LanguageSelectionDescription)" />
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.PB_LanguageSelectionBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />

        <!-- Language Selection Group -->
        <Control Id="LanguageLabel" Type="Text" X="20" Y="60" Width="290" Height="15" NoPrefix="yes" Text="!(loc.PB_LanguageSelectionLabel)" />

        <!-- English Radio Button -->
        <Control Id="EnglishRadioButton" Type="RadioButtonGroup" X="20" Y="80" Width="200" Height="40" Property="SELECTEDLANGUAGE">
          <RadioButtonGroup Property="SELECTEDLANGUAGE">
            <RadioButton Text="English" Value="en-us" X="0" Y="0" Width="150" Height="17" />
            <RadioButton Text="Russian" Value="ru-ru" X="0" Y="20" Width="150" Height="17" />
          </RadioButtonGroup>
        </Control>

        <!-- Navigation Buttons -->
        <Control Id="Back" Type="PushButton" X="180" Y="243" Width="56" Height="17" Text="&lt; &amp;Back" Disabled="yes" />
        <Control Id="Next" Type="PushButton" X="236" Y="243" Width="56" Height="17" Default="yes" Text="&amp;Next &gt;">
          <Publish Event="NewDialog" Value="WelcomeDlg">1</Publish>
        </Control>
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
      </Dialog>
    </UI>
  </Fragment>

</Wix>
